<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodeName</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <!-- prod -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <!-- dev -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .cell {
            text-transform: capitalize;
        }

        .gridrow {
            margin-top: .5rem; 
            margin-bottom: .5rem;
        }
        
        .btn-neutral-picked {
            background-color: #e8e6e6;
            border-color: #e8e6e6;
            color: #212529;
        }

        .btn-death {
            background-color: #8e8e8e;
            border-color: #343a40;
            color: #fff;
        }

        .btn-red {
            background-color: #f8d7da;
            border-color: #f8d7da;
            color: #000;
        }

        .btn-blue {
            background-color: #d1ecf1;
            border-color: #d1ecf1;
            color: #000;
        }
    </style>
</head>

<body>

<div id='app' class="container-fluid">
    <div class="row border-bottom shadow-sm p-1 mb-2">
        <div class="col-2">
            <h1>CodeName</h1>
        </div>
        <div class="col-8 text-center">
            <h2 v-if="name != null">{{ $t('hello', {name: name}) }}</h2>
            <span v-if="roomUrl">
                {{ $t('sendlink') }}
                <a :href="roomUrl">{{ roomUrl }}</a>
            </span>
        </div>
        <div class="col-2">
        </div>
    </div>
    <main role="main">
        <div class="row">
            <div class="col-2">
            <user-list 
                v-if="showUsers"
                :red="game.red"
                :blue="game.blue"
            >
            </user-list>

            <button 
                v-if="showRestart"
                @click.prevent="restart" 
                type="submit" class="btn btn-primary"
            >
                {{ $t('restart')}}
            </button>

            </div>
            <div class="col-10">

                <div class="row">
                    <div class="col-10">
                        <join-notice
                            v-if="showJoinNotice"
                            :state="state"
                            :enoughplayers="enoughPlayers"
                        >
                        </join-notice>
                        <hint-notice
                            v-if="showHintNotice"
                            :game="game"
                        >
                        </hint-notice>
                        <end
                            v-if="winner != null"
                            :winner="winner"
                        >
                        </end>
                    </div>
                </div>

                <login v-if="showLogin">
                </login>

                <team-select v-if="showTeamSelect">
                </team-select>

                <master-select 
                    v-if="showMasterSelect"
                    :red="game.red"
                    :blue="game.blue"
                >
                </master-select>

                <board
                    v-if="showBoard"
                    :board="game.board"
                    :tiles="tiles"
                >
                </board>

                <pass v-if="showPass">
                </pass>

                <hint-box v-if="showHintBox">
                </hint-box>
            </div>
        </div>
    </main>
</div>

<script type="text/x-template" id="login">
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <div class="card p-1">
            <form v-on:submit.prevent>
                <div class="form-group">
                    <label for="name">{{ $t('entername') }}</label>
                    <input id="name" type="text" v-model="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Language / Langue :</label>
                    <select @change="changeLanguage" v-model="language">
                        <option value="en">English / Anglais</option>
                        <option value="fr">French / Français</option>
                    </select>
                </div>
                <button @click="login" type="submit" class="btn btn-primary">{{ $t('login') }}</button>
            </form>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="team-select">
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <div class="card p-1">
            <form v-on:submit.prevent>
                <div class="form-group">
                    <label>{{ $t('chooseteam') }}</label>
                    <div class="form-check">
                        <input id="blue" type="radio" value="blue" v-model="team" class="form-check-input">
                        <label class="form-check-label" for="blue">{{ $t('blue') }}</label>
                    </div>
                    <div class="form-check">
                        <input id="red" type="radio" value="red" v-model="team" class="form-check-input">
                        <label class="form-check-label" for="red">{{ $t('red') }}</label>
                    </div>
                </div>
                <button @click="selectTeam" type="submit" class="btn btn-primary">{{ $t('select') }}</button>
            </form>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="user-list">
<div>
    <div class="card border-primary mb-1">
        <div class="card-header text-primary">{{ $t('teamlabel', {team: $t('blue')}) }}</div>
        <div class="card-body">
            <team-list
                :players="blue.players"
            >
            </team-list>
        </div>
    </div>
    <div class="card border-danger mb-1">
        <div class="card-header text-danger">{{ $t('teamlabel', {team: $t('red')}) }}</div>
        <div class="card-body">
            <team-list
                :players="red.players"
            >
            </team-list>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="team-list">
<div class="list-group">
    <span 
        v-for="player in players"
        :key="player"
    >
        <span class="list-group-item list-group-item-action">{{ player }}</span>
    </span>
</div>
</script>


<script type="text/x-template" id="master-select">
<div class="row">
    <div class="col-3"></div>
    <div class="col-4">
        <div class="card p-1">
            <form v-on:submit.prevent>
                <h4>{{ $t('pickmasters') }}</h4>

                <master-list
                    :players="red.players"
                    team="red"
                >
                </master-list>

                <master-list
                    :players="blue.players"
                    team="blue"
                >
                </master-list>

                <button @click="start" type="submit" class="btn btn-primary">{{ $t('select') }}</button>
            </form>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="master-list">
<div class="form-group">
    <label>{{ $t('teamlabel', {team: $t(team)}) }}</label>
    <div class="form-check" v-for="player in players" :key="'master-' + player">
        <input 
            :id="player" :name="player" :value="player" v-model="master" 
            class="form-check-input" type="radio"
        >
        <label class="form-check-label" :for="player">{{ player }}</label>
    </div>
</div>
</script>

<script type="text/x-template" id="board">
<div>
    <div v-for="(row, i) in grid" class="row gridrow">
        <cell
            v-for="cell in row"
            :key="cell.x + '-' + cell.y"
            :cell="cell"
        >
        </cell>
    </div>
</div>
</script>

<script type="text/x-template" id="cell">
<div class="col-2">
    <button type="button" @click="guess" :class="cellClass">
        {{ cell.word }}
    </button>
</div>
</script>

<script type="text/x-template" id="hint-box">
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <div class="card p-1">
        <form v-on:submit.prevent>
            <div class="form-group">
                <label for="hint">{{ $t('hint') }}</label>
                <input id="hint" v-model="hint" type="text" class="form-control" aria-describedby="hintHelp">
                <small id="hintHelp" class="form-text text-muted">
                    {{ $t('hinthelp') }}
                </small>
            </div>
            <div class="form-group">
                <label for="guesses">{{ $t('guesses') }}</label>
                <input id="guesses" v-model="guesses" type="text" class="form-control" aria-describedby="guessHelp">
                <small id="guessHelp" class="form-text text-muted">
                    {{ $t('guesshelp') }}
                </small>
            </div>
            <button @click="sendHint" type="submit" class="btn btn-primary">{{ $t('send') }}</button>
        </form>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="hint-notice">
<div :class="hintClasses" role="alert">
    <span v-if="game.action == 'hint'">
        {{ $t('teamwaiting', {team: $t(team)}) }}
    </span>
    <span v-else>
        {{ $t('teamplaying', {team: $t(team), hint: teamHint, guesses: teamGuesses}) }}
        <span v-if="previous != null">{{ $t('previoushint', {previous: previous}) }}</span>
    </span>
</div>
</script>

<script type="text/x-template" id="join-notice">
<div class="alert alert-secondary" role="alert">
    <span v-if="waitingPlayers">
        {{ $t('waitplayers') }}
    </span>
    <span v-if="waitingTeam">
        {{ $t('waitjoin') }}
    </span>
    <span v-if="waitingStart">
        {{ $t('waitadmin') }}
    </span>
</div>
</script>

<script type="text/x-template" id="pass">
<div class="row">
    <div class="col-2">
        <button type="button" @click.prevent="pass" class="btn btn-secondary">
            {{ $t('passturn') }}
        </button>
    </div>
</div>
</script>

<script type="text/x-template" id="end">
<div class="alert alert-success" role="alert">
    <span>
        {{ $t('wingame', {winner: $t(winner)}) }}
    </span>
</div>
</script>

<script>

const messages = {
    en: {
        hello: 'Hello {name}',
        sendlink: 'Send this link to your friends:',
        restart: 'Restart',
        entername: 'Enter your name:',
        login: 'Login',
        chooseteam: 'Choose your team:',
        red: 'Red',
        blue: 'Blue',
        select: 'Select',
        pickmasters: 'Pick the card masters for each team',
        teamlabel: '{team} team',
        hint: 'Hint',
        hinthelp: 'Enter a word to help your team guess some cards',
        guesses: 'Guesses',
        guesshelp: 'Enter the number of cards your team should try to guess',
        send: 'Send',
        teamwaiting: '{team} team are waiting for their hint.',
        teamplaying: '{team} are playing. The hint is {hint} for {guesses} guesses',
        previoushint: '(previous hint: {previous})',
        waitplayers: 'Waiting for enough players',
        waitjoin: 'Waiting for players to join a team',
        waitadmin: 'Waiting for administrator to start game',
        passturn: 'Pass turn',
        wingame: '{winner} have won the game !'
    },
    fr: {
        hello: 'Bonjour {name}',
        sendlink: 'Envoyez ce lien à vos amis :',
        restart: 'Recommencer',
        entername: 'Entrez votre nom:',
        login: 'Entrer',
        chooseteam: 'Choissisez votre équipe :',
        red: 'Rouge',
        blue: 'Bleu',
        select: 'Sélectionner',
        pickmasters: 'Choissisez le maître de jeu pour chaque équipe',
        teamlabel: 'Équipe {team}',
        hint: 'Indice',
        hinthelp: 'Entrez un indice pour aider votre équipe à deviner des cartes',
        guesses: 'Nombre de mots',
        guesshelp: 'Entrez le nombre de mots que votre équipe doit deviner',
        send: 'Envoyer',
        teamwaiting: "L'équipe {team} sont en attente d'un indice.",
        teamplaying: "C'est le tour de l'équipe {team}. L'indice est {hint}, pour {guesses} cartes.",
        previoushint: '(indice précédent: {previous})',
        waitplayers: 'En attente des autres joueurs',
        waitjoin: 'En attente de la formation des équipes',
        waitadmin: "En attente du départ donné par l'administrateur",
        passturn: 'Passer le tour',
        wingame: "L'équipe {winner} ont gagné !"
    }
}

const i18n = new VueI18n({
    locale: 'en',
    messages,
})

var TeamList = {
    props: ['players'],
    template: '#team-list',
}

var MasterList = {
    props: ['players', 'team'],
    template: '#master-list',
    data: function() {
        return {
            'master': '',
        }
    }
}

var Cell = {
    props: ['cell'],
    template: '#cell',
    computed: {
        cellClass: function() {
            var classes = {
                'cell': true,
                'btn': true,
                'btn-lg': true,
                'btn-block': true
            }

            var cardColors = {
                'blue': 'btn-primary',
                'red': 'btn-danger',
                'neutral': 'btn-neutral-picked',
                'death': 'btn-dark'
            }

            var tileColors = {
                'blue': 'btn-blue',
                'red': 'btn-red',
                'death': 'btn-death',
                'neutral': 'btn-outline-secondary'
            }

            var className = "btn-outline-secondary"

            if (this.cell.card != null) {
                className = cardColors[this.cell.card]
            } else if (this.cell.tile != null) {
                className = tileColors[this.cell.tile]
            }

            classes[className] = true
            return classes
        }
    },
    methods: {
        guess: function() {
            vm.guess(this.cell.x, this.cell.y)
        }
    }
}

Vue.component('login', {
    template: '#login',
    data: function() {
        return {
            name: '',
            language: 'en'
        }
    },
    methods: {
        login: function() {
            vm.login(this.name)
        },
        changeLanguage: function() {
            i18n.locale = this.language
        }
    }
})

Vue.component('team-select', {
    template: '#team-select',
    data: function() {
        return {
            team: ''
        }
    },
    methods: {
        selectTeam: function() {
            vm.selectTeam(this.team)
        }
    }
})

Vue.component('master-select', {
    template: '#master-select',
    props: ['red', 'blue'],
    components: {
        'master-list': MasterList
    },
    methods: {
        start: function() {
            start = {}
            for (child of this.$children) {
                start[child.team] = child.master
            }
            vm.start(start.red, start.blue)
        }
    }
})

Vue.component('user-list', {
    template: '#user-list',
    props: ['red', 'blue'],
    components: {
        'team-list': TeamList
    }
})

Vue.component('board', {
    props: ['board', 'tiles'],
    template: '#board',
    data: function() {
        return {
        }
    },
    computed: {
        grid: function() {
            var grid = []
            for (y of [4, 3, 2, 1, 0]) {
                var row = []
                for (x of [0, 1, 2, 3, 4]) {
                    var cell = {
                        x: x,
                        y: y,
                        word: this.board.words[x][y],
                        tile: null,
                        card: this.board.cards[x][y]
                    }

                    if (this.tiles != null) {
                        cell.tile = this.tiles[x][y]
                    }
                    row.push(cell)
                }
                grid.push(row)
            }
            return grid
        }
    },
    components: {
        'cell': Cell
    }
})

Vue.component('hint-box', {
    template: '#hint-box',
    data: function() {
        return {
            hint: '',
            guesses: ''
        }
    },
    methods: {
        sendHint: function() {
            vm.sendHint(this.hint, this.guesses)
        }
    }
})

Vue.component('join-notice', {
    template: '#join-notice',
    props: ['enoughplayers', 'state'],
    computed: {
        waitingPlayers: function() {
            return this.state == 'join'
        },
        waitingTeam: function() {
            return this.state == 'team' && !this.enoughplayers
        },
        waitingStart: function() {
            return this.state == 'team' && this.enoughplayers
        }
    }
})

Vue.component('hint-notice', {
    template: '#hint-notice',
    props: ['game'],
    computed: {
        teamHint: function() {
            return this.game[this.game.turn].hint
        },
        teamGuesses: function() {
            return this.game[this.game.turn].guesses
        },
        team: function() {
            return this.game.turn
        },
        hintClasses: function() {
            return {
                'alert': true,
                'alert-info': this.game.turn == "blue",
                'alert-danger': this.game.turn == "red"
            }
        },
        previous: function() {
            return this.game[this.game.turn].previous
        }
    }
})

Vue.component('end', {
    props: ['winner'],
    template: '#end'
})

Vue.component('pass', {
    template: '#pass',
    methods: {
        pass: function() {
            vm.pass()
        }
    }
})

var vm = new Vue({
  el: '#app',
  methods: {
    login: function(name) {
        this.name = name

        var backend = "wss://" + window.location.host + "/api"
        this.socket = new WebSocket(backend)

        this.socket.onopen = function(event) {
            vm.createOrJoinRoom()
        }
        this.socket.onerror = function(event) {
            console.error("ERROR: ", event)
            alert('Socket error. Consult logs for details')
        }
        this.socket.onmessage = function(event) {
        console.log("response: " + event.data)
            var response = JSON.parse(event.data)
            vm.handleResponse(response)
        }
        this.socket.onclose = function(event) {
            console.log("socket close: ", event)
            alert('Disconnected from server. Consult logs for details')
        }
    },
    createOrJoinRoom: function() {
        var id = (new URL(window.location)).searchParams.get("roomid")
        if (id == null) {
            this.sendRequest({request: 'room', name: this.name, language: i18n.locale})
            this.admin = true
        } else {
            this.id = id
            this.sendRequest({'request': 'join', 'name': this.name, id: id})
        }
    },
    selectTeam: function(team) {
        this.sendRequest({
            request: 'team',
            team: team
        })
    },
    start: function(red, blue) {
      this.sendRequest({
          request: 'start',
          red: red,
          blue: blue
      })
    },
    restart: function() {
        this.sendRequest({request: 'reset', language: i18n.locale})
    },
    guess: function(x, y) {
        this.sendRequest({
            request: 'guess',
            x: parseInt(x),
            y: parseInt(y)
        })
    },
    pass: function() {
        this.sendRequest({
            request: 'pass'
        })
    },
    sendHint: function(hint, guesses) {
        this.sendRequest({
            request: 'hint',
            hint: hint,
            guesses: parseInt(guesses)
        })
    },
    sendRequest: function(request) {
        var message = JSON.stringify(request)
        console.log("request: " + message)
        this.socket.send(message)
    },
    handleResponse: function(response) {
        if (response.response == 'error') {
            console.error("ERROR response: " + response.error)
            alert('ERROR: ' + response.error)
        } else if (response.response == 'tiles') {
            this.$set(this, 'tiles', response.tiles)
        } else {
            this.$set(this, 'id', response.room.id)
            this.$set(this, 'state', response.room.state)
            this.$set(this, 'game', response.room.game)
            this.$set(this, 'players', response.room.players)
            if (this.state == 'join' || this.state == 'team') {
                this.$set(this, 'tiles', null)
            }
        }
    }
  },
  computed: {
      showLogin: function() {
          return this.state == 'login'
      },
      showUsers: function() {
          return this.state == 'team' || this.state == 'play' || this.state == 'end'
      },
      showRestart: function() {
          return (this.state == 'play' || this.state == 'end') && this.admin
      },
      showTeamSelect: function() {
          return (this.state == 'team' || this.state == 'play') && this.team == null
      },
      showBoard: function() {
          return (this.state == 'play' || this.state == 'end') && this.team != null
      },
      showMasterSelect: function() {
          return this.admin && this.state == 'team' && this.enoughPlayers
      },
      showHintNotice: function() {
          return this.state == 'play'
      },
      showJoinNotice: function() {
          return this.state == 'join' || this.state == 'team'
      },
      showHintBox: function() {
          if (this.state != 'play') {
              return false
          }

          return (
              this.game.turn == this.team
              && this.game.action == 'hint'
              && this.tiles != null
          )
      },
      showPass: function() {
          return (
              this.state == 'play'
              && this.game.action == 'guess'
              && this.game.turn == this.team
              && this.tiles == null
          )
      },
      winner: function() {
          if (this.state == 'end') {
              return this.game.turn
          }
          return null
      },
      roomUrl: function() {
          if (this.id != null) {
              var url = new URL(window.location)
              url.search = "?roomid=" + this.id
              return url.href
          }
          return null
      },
      enoughPlayers: function() {
          return this.game.red.players.length >= 2 && this.game.blue.players.length >= 2
      },
      haveMasters: function() {
          return this.game.red.master != null && this.game.blue.master != null
      },
      team: function() {
          for (team of ["red", "blue"]) {
              if (this.game[team].players.includes(this.name)) {
                  return team
              }
          }
          return null
      }
  },
  data: {
      id: null,
      admin: false,
      state: 'login',
      players: [],
      name: null,
      tiles: null,
      socket: null,
      game: null
  },
  i18n,
})

</script>

</body>
</html>
